.container {
  margin-top: 20px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon-display {
  scale: 1.5;
}

.schedule-item {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schedule-item .card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-sm th,
.table-sm td {
  font-size: 0.85em;
  padding: 0.35rem;
}

.vouchers h6 {
  font-size: 1em;
  margin-bottom: 10px;
  font-weight: bold;
}

.voucher {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.voucher .card-text {
  margin-bottom: 5px;
  font-size: 0.85em;
}

.voucher-image img {
  max-width: 100%;
  height: auto;
  max-height: 150px; /* Limita la altura de la imagen */
  border: 1px solid #ddd;
  border-radius: 5px;
  object-fit: contain; /* Ajusta la imagen para que se adapte sin distorsión */
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 1em;
  }

  .title-bar h2 {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-display {
    scale: 1;
  }

  .table-sm th,
  .table-sm td {
    font-size: 0.75em;
    padding: 0.25rem;
  }

  .vouchers h6 {
    font-size: 0.95em;
  }

  .voucher .card-text {
    font-size: 0.8em;
  }
}
